body {
    background-color: antiquewhite;
    color: brown;
}

#container {
    background-color: pink;
    width: 950px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid palevioletred;
    border-radius: 20px;

}

header {
    height: 250px;
    
   
}

header h1 {
    font-size: 50px;
    text-align: center;
     line-height: 250px;
}

h2 {
    font-size: 35px;
    text-align: center;
}

h3 {
    font-size: 35px;
    text-align: center;
}

nav {
    text-align: center;
}

hr {
    border-color: brown;
}

nav a {
    color: brown;
    font-size: 24px;
}

nav a:hover {
    color: ghostwhite;
    text-decoration: none;
}

h2 {
    text-align: center;
}

main img {
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

footer {
    padding: 40px;

}
